<h2>Edit the celebrity</h2>
<form action="/celebrities/{{this.id}}" method="POST">
  <input type="text" name="name" value="{{name}}" placeholder="Name">
  <input type="text" name="ocuppation" value="{{ocuppation}}" placeholder="Ocuppation">
  <input type="text" name="catchPhrase" value="{{catchPhrase}}" placeholder="Catch phrase">
  <button type="submit">Edit</button>
</form>

<a href="/celebrities">Back</a>