<h2>Celebrities</h2>

<ul>
  {{#each celebrities}}
    <li>
      <a href="/celebrities/{{this._id}}">{{this.name}}</a>
      <form action="/celebrities/{{this.id}}/delete" method="POST">
      <button type="submit">Delete</button>
      </form>
      <a href="/celebrities/{{this.id}}/edit" class="button">Edit</a>
    </li>
  {{/each}}
</ul>

<a href="/celebrities/new">Create a new celebrity!</a>
