<h2>Create your celebrity</h2>
<form action="/celebrities" method="POST">
  <input type="text" name="name" value="{{name}}" placeholder="Name">
  <input type="text" name="ocuppation" value="{{ocuppation}}" placeholder="Ocuppation">
  <input type="text" name="catch-phrase" value="{{catchPhrase}}" placeholder="Catch phrase">
 
  <button type="submit">Create!</button>

</form>
